[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-time-zone=Asia/Tokyo

# Fix -> [Warning] TIMESTAMP with implicit DEFAULT value is deprecated.
explicit_defaults_for_timestamp = true

# Fix -> [ERROR] InnoDB: Linux Native AIO interface is not supported on this platform.
innodb-use-native-aio=0

[client]
default-character-set=utf8mb4